<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maem Yuk!</title>
</head>

<body>
    <app-bar></app-bar>
    
    <div class="jumbotron">
        <div class="jumbotron-inner">
            <h1 class="jumbotron-title">Maem Yuk!</h1>
            <p class="jumbotron-text">Cari Tempat Makan Sesukamu!</p>
        </div>
    </div>

    <main-content></main-content>

    <footer>
        <p>Copyright © 2023 - MaemYuk!</p>
    </footer>
    
</body>

</html>
